nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
    .logo {
        a {
            color: #2A3238;
        }
        cursor: pointer;
    }
    ul {
        display: flex;
        gap: 1em;
        a {
            color: #2A3238;
            opacity: 0.6;
            &.active {
                opacity: 1;
            }
        }
    }
    .login {
        button {
            font-size: 1.3em;
            padding: 0.3em 1.5em;
            border-radius: 0.8em;
            border: none;
            outline: none;
            background-color: #2A3238;
            color: #fff;
            cursor: pointer;
        }
    }
}